<ul class="nav nav-stacked" id="accordion1">
  <li class="panel">
    <a data-toggle="collapse" data-parent="#accordion1" href="#firstLink">Adult Escapement</a>

    <ul id="firstLink" class="collapse">
      Default adult escapement values are the 2001-2015
      <a href=http://www.calfish.org/ProgramsData/Species/CDFWAnadromousResourceAssessment.aspx>Grandtab</a> median escapement.
    </ul>

  </li>
  <li class="panel">
    <a data-toggle="collapse" data-parent="#accordion1" href="#secondLink">Habitat Acerage</a>

    <ul id="secondLink" class="collapse">
      Default spawning and rearing values are the habitat acerage at the 1980-1999
      <a href=http://baydeltaoffice.water.ca.gov/modeling/hydrology/CalSim/Downloads/CalSimDownloads/CalSim-IIStudies/SWPReliability2009/index.cfm>CalSim</a> median flows.
    </ul>
  </li>
  <li class="panel">
    <a data-toggle="collapse" data-parent="#accordion1" href="#thirdLink">Territory</a>
    <ul id="thirdLink" class="collapse">
      Each spawning pair requires 12.4 square meters and each fry requires 0.054 square meters.
    </ul>
  </li>
  <li class="panel">
    <a data-toggle="collapse" data-parent="#accordion1" href="#fourthLink">Egg to Fry</a>

    <ul id="fourthLink" class="collapse">
      The number of fry is a result of the number of spawning pairs supported by the available spawning habitat multiplied by the
      number of eggs per female and the egg to fry survival rate.
      <br>
      <br> sex ratio: 50/50
      <br> number of eggs per female: 5,500
      <br> egg to fry survival rate: 0.485
      <br>
    </ul>
  </li>
</ul>