<ul class="nav nav-stacked" id="accordion1">
  <li class="panel">
    <a data-toggle="collapse" data-parent="#accordion1" href="#firstLink">Adult Escapement</a>

    <ul id="firstLink" class="collapse">
      default value is the median escapement of 2001-2015
    </ul>

  </li>
  <li class="panel">
    <a data-toggle="collapse" data-parent="#accordion1" href="#secondLink">Habitat Acerage</a>

    <ul id="secondLink" class="collapse">
        default values are the habitat acerage at the median flows
    </ul>
  </li>
  <li class="panel">
    <a data-toggle="collapse" data-parent="#accordion1" href="#thirdLink">Egg to Fry</a>

    <ul id="thirdLink" class="collapse">
      sex ratio
      number of eggs per female
      egg to fry survival rate
    </ul>
  </li>
</ul>